

body {
  margin: 0;
  background-color: #2b3034;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #001738;
}

button:focus {
  outline: none;
}

svg {
 
  -webkit-transform: translateZ(0);
}



.border-top,
.border-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.padding-h40 {
  padding-left: 40px;
  padding-right: 40px;
}

.subtitle {
  color: #8492a6 !important;
}

.overflow-hidden {

  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}



.padding-h40,
.page__header,
.body__container {
  transition: padding 0.15s cubic-bezier(0.2, 0, 0.38, 0.9);
}

@media screen and (max-width: 965px) {
  .open-drawer .padding-h40 {
    padding-left: 0;
    padding-right: 0;
  }

  .open-drawer .page__header {
    padding: 0 8px;
  }

  .open-drawer .body__container {
    padding: 24px 16px 24px 15px;
  }

  .open-drawer .grid {
    grid-gap: 16px;
  }
}

@media screen and (max-width: 639px) {
  .padding-h40 {
    padding-left: 0;
    padding-right: 0;
  }

  .page .page__header {
    padding: 0 8px;
  }

  .page__body .body__container {
    padding: 24px 16px 24px 15px;
  }

  .page__body .grid {
    grid-gap: 16px;
  }
}

/* dynamic Header buttons */

.dynamic-button .button {
  display: flex;
}

.dynamic-button .button--icon {
  display: none;
}

@media screen and (max-width: 1354px) {
  .open-drawer .dynamic-button .button {
    display: none;
  }

  .open-drawer .dynamic-button .button--icon {
    display: flex;
  }
}

@media screen and (max-width: 1028px) {
  .dynamic-button .button {
    display: none;
  }

  .dynamic-button .button--icon {
    display: flex;
  }
}

@media screen and (max-width: 1104px) {
  .open-drawer .page__header .action:not(:last-child) {
    display: none;
  }
}

@media screen and (max-width: 778px) {
  .page__header .action:not(:last-child) {
    display: none;
  }
}

.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: normal;
}

.frame__links {
  
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {

}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;

  position: relative;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 53em) {
  .frame {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100vh;
    max-width: none;
    height: 100vh;
    padding: 3rem;
    pointer-events: none;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'title links'
      '... ...'
      '... demos';
  }
  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }
  .frame__title {
    margin: 0;
  }
  .frame__tagline {
    color: rgb(14,101,251);
    font-size: 14px;
    position: relative;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    opacity: 0.5;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
  }
  .frame a {
    pointer-events: auto;
  }
  .content {

    justify-content: center;
  }
}

svg {
  width: 24px;
  height: 24px;
  fill: rgb(14,101,251);
}

.frame__demo {
  margin: 1rem;
}